<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Box Plots**

Estimated time needed: **45** minutes

In this lab, you will focus on the visualization of data. The dataset will be provided through an RDBMS, and you will need to use SQL queries to extract the required data.

## Objectives

In this lab you will perform the following:

-   Visualize the distribution of data.

-   Visualize the relationship between two features.

-   Visualize data composition and comparisons using box plots.

### Setup: Connecting to the Database

#### 1. Download the Database File

In [21]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/QR9YeprUYhOoLafzlLspAw/survey-results-public.sqlite

--2025-11-22 14:14:58--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/QR9YeprUYhOoLafzlLspAw/survey-results-public.sqlite
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
200 OKequest sent, awaiting response...
Length: 211415040 (202M) [application/octet-stream]
Saving to: ‘survey-results-public.sqlite.2’

survey-results-publ 100%[===================>] 201.62M  42.4MB/s    in 14s

2025-11-22 14:15:14 (14.8 MB/s) - ‘survey-results-public.sqlite.2’ saved [211415040/211415040]

#### 2. Connect to the Database

**Install the needed libraries**

In [22]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [23]:
!pip install matplotlib
!pip install seaborn

Requirement already satisfied: matplotlib in /opt/conda/lib/python3.12/site-packages (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.3.5)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: seaborn in /opt/conda/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/conda/lib/python3.12/site-packages (from seaborn) (2.3.5)
Requirement already satisfied: pandas>=1.2 in /opt/conda/lib/python3.12/site-packages (from seaborn) (2.3.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /opt/conda/lib/python3.12/site-packages (from seaborn) (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /opt/conda/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

In [27]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

# Connect to the SQLite database
conn = sqlite3.connect('survey-results-public.sqlite')

cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[]

## Demo: Basic SQL Queries

#### Demo 1: Count the Number of Rows in the Table

In [25]:
import os
print(os.path.abspath('survey-results-public.sqlite'))

/resources/DA0321EN/lab/module4/survey-results-public.sqlite

In [16]:
QUERY = "SELECT COUNT(*) FROM main"
df = pd.read_sql_query(QUERY, conn)
print(df)

DatabaseError: Execution failed on sql 'SELECT COUNT(*) FROM main': no such table: main

#### Demo 2: List All Tables

In [19]:
QUERY = """
SELECT name as Table_Name 
FROM sqlite_master 
WHERE type = 'table'
"""
pd.read_sql_query(QUERY, conn)

Empty DataFrame
Columns: [Table_Name]
Index: []

#### Demo 3: Group Data by Age

In [20]:
QUERY = """
SELECT Age, COUNT(*) as count 
FROM main 
GROUP BY Age 
ORDER BY Age
"""
df_age = pd.read_sql_query(QUERY, conn)
print(df_age)

DatabaseError: Execution failed on sql '
SELECT Age, COUNT(*) as count
FROM main
GROUP BY Age
ORDER BY Age
': no such table: main

## Visualizing Data

### Task 1: Visualizing the Distribution of Data

**1. Box Plot of `CompTotal` (Total Compensation)**

Use a box plot to analyze the distribution and outliers in total compensation.

In [28]:
# Load the 'main' table
df = pd.read_sql_query("SELECT * FROM main", conn)

# Check the first few rows and columns
print(df.head())
print(df.columns)

# Optional: convert CompTotal to numeric (sometimes stored as object)
df['CompTotal'] = pd.to_numeric(df['CompTotal'], errors='coerce')

# Box plot
plt.figure(figsize=(10, 6))
sns.boxplot(x=df['CompTotal'])
plt.title("Box Plot of Total Compensation (CompTotal)")
plt.xlabel("CompTotal (USD)")
plt.show()

DatabaseError: Execution failed on sql 'SELECT * FROM main': no such table: main

**2. Box Plot of Age (converted to numeric values)**

Convert the `Age` column into numerical values and visualize the distribution.

In [29]:
# Create a mapping for Age ranges to median numeric value
age_mapping = {
    'Under 18 years old': 17,
    '18-24 years old': 21,
    '25-34 years old': 29,
    '35-44 years old': 39,
    '45-54 years old': 49,
    '55-64 years old': 59,
    '65 years or older': 70,
    "Prefer not to say": None
}

df['Age_numeric'] = df['Age'].map(age_mapping)

# Box plot
plt.figure(figsize=(10,6))
sns.boxplot(x=df['Age_numeric'])
plt.title("Box Plot of Age (Numeric)")
plt.xlabel("Age")
plt.show()

NameError: name 'df' is not defined

### Task 2: Visualizing Relationships in Data

**1. Box Plot of `CompTotal` Grouped by Age Groups:**

Visualize the distribution of compensation across different age groups.

In [30]:
plt.figure(figsize=(12,6))
sns.boxplot(x='Age_numeric', y='CompTotal', data=df)
plt.title("CompTotal by Age Groups")
plt.xlabel("Age Group (Numeric)")
plt.ylabel("CompTotal (USD)")
plt.show()

NameError: name 'sns' is not defined

**2. Box Plot of `CompTotal` Grouped by Job Satisfaction (`JobSatPoints_6`):**

Examine how compensation varies based on job satisfaction levels.

In [31]:
plt.figure(figsize=(12,6))
sns.boxplot(x='JobSatPoints_6', y='CompTotal', data=df)
plt.title("CompTotal by Job Satisfaction")
plt.xlabel("Job Satisfaction (1-6)")
plt.ylabel("CompTotal (USD)")
plt.show()

NameError: name 'sns' is not defined

### Task 3: Visualizing the Composition of Data

**1. Box Plot of `ConvertedCompYearly` for the Top 5 Developer Types:**

Analyze compensation across the top 5 developer roles.

In [32]:
# Get top 5 developer types by count
top_devs = df['DevType'].value_counts().head(5).index
df_top_devs = df[df['DevType'].isin(top_devs)]

plt.figure(figsize=(12,6))
sns.boxplot(x='DevType', y='ConvertedCompYearly', data=df_top_devs)
plt.title("ConvertedCompYearly for Top 5 Developer Types")
plt.xlabel("Developer Type")
plt.ylabel("ConvertedCompYearly (USD)")
plt.xticks(rotation=45)
plt.show()

NameError: name 'df' is not defined

**2. Box Plot of `CompTotal` for the Top 5 Countries:**

Analyze compensation across respondents from the top 5 countries.

In [33]:
top_countries = df['Country'].value_counts().head(5).index
df_top_countries = df[df['Country'].isin(top_countries)]

plt.figure(figsize=(12,6))
sns.boxplot(x='Country', y='CompTotal', data=df_top_countries)
plt.title("CompTotal for Top 5 Countries")
plt.xlabel("Country")
plt.ylabel("CompTotal (USD)")
plt.show()

NameError: name 'df' is not defined

### Task 4: Visualizing Comparison of Data

**1. Box Plot of CompTotal Across Employment Types:**

Analyze compensation for different employment types.

In [34]:
plt.figure(figsize=(12,6))
sns.boxplot(x='Employment', y='CompTotal', data=df)
plt.title("CompTotal Across Employment Types")
plt.xlabel("Employment Type")
plt.ylabel("CompTotal (USD)")
plt.xticks(rotation=45)
plt.show()

NameError: name 'sns' is not defined

**2. Box Plot of `YearsCodePro` by Job Satisfaction (`JobSatPoints_6`):**

Examine the distribution of professional coding years by job satisfaction levels.

In [35]:
# Convert YearsCodePro to numeric, treating "Less than 1 year" as 0.5
def yearscode_to_numeric(val):
    if val == 'Less than 1 year':
        return 0.5
    try:
        return float(val)
    except:
        return None

df['YearsCodePro_numeric'] = df['YearsCodePro'].apply(yearscode_to_numeric)

plt.figure(figsize=(12,6))
sns.boxplot(x='JobSatPoints_6', y='YearsCodePro_numeric', data=df)
plt.title("YearsCodePro by Job Satisfaction")
plt.xlabel("Job Satisfaction (1-6)")
plt.ylabel("Years of Professional Coding")
plt.show()

NameError: name 'df' is not defined

### Final Step: Close the Database Connection

After completing the lab, close the connection to the SQLite database:

In [36]:
conn.close()

## Summary

In this lab, you used box plots to visualize various aspects of the dataset, focusing on:

- Visualize distributions of compensation and age.

- Explore relationships between compensation, job satisfaction, and professional coding experience.

- Analyze data composition across developer roles and countries.

- Compare compensation across employment types and satisfaction levels.

Box plots provided clear insights into the spread, outliers, and central tendencies of various features in the dataset.

## Authors:
Ayushi Jain

### Other Contributors:
- Rav Ahuja
- Lakshmi Holla
- Malika

<!--## Change Log
|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|               
|2024-10-07|1.2|Madhusudan Moole|Reviewed and updated lab|                                                                                      
|2024-10-06|1.0|Raghul Ramesh|Created lab|-->

Copyright © IBM Corporation. All rights reserved.